* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    background-color: #FEFCFB;
}

.main-container {
    padding: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
}

.logo {
    font-family: "Volkhov", serif;
}

nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: gray;
}

.login a {
    text-decoration: none;
    color: #FD8D3A;
    margin-right: 20px;
}

.login a:hover {
    background-color: #FD8D3A;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
}

@media (max-width: 576px) {
    .container {
        font-size: 10px
    }
    .logo img {
        width: 15px;
    }
    nav ul li {
        padding-right: 10px;
    }   
}

/* @media (min-width: 577px) and (max-width: 770px){} */

.hero {
    display: flex;
    margin-left: 205px;
    margin-top: 40px;
}

.hero-text {
    font-size: 40px;
    margin-top: 40px;
}
.hero-text h1 {
 font-family: "Volkhov", serif;
}

.hero-text h1 span {
    color: #FD8D3A;
}

.hero-text p {
    font-size: 20px;
    color: gray;
    word-spacing: 5px;
    /* line-height: 1.6px; */
    margin: 20px 0;
    padding: 20px 0
}

.hero-text a {
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #FD8D3A;
    color: #FD8D3A;
    padding: 20px;
    border-radius: 10px;
}

.hero-text a:hover {
   color: white;
   background-color: #FD8D3A;
}

.hero-explore {
    margin-top: 20px;
    margin-left: 205px;
    display: flex;
    justify-content: center;
}

.hero-explore .explore {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: auto;
    background-color: white;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.hero-explore .explore h4 {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 20px
}

.hero-explore .explore h4 i{
    font-size: 10px;
    color:#FD8D3A
}


.hero-explore .explore h4 p{
    font-size: 10px;
    padding-top: 10px;
    color: gray
}

.hero-explore .explore a {
    text-decoration: none;
    margin: 20px;
    background-color: #FD8D3A;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);

}

/* main section */
.main {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 60px;
    background-color: #F7F8FC;
}
.contents {
    display: flex;
    justify-content: center;
}

.contents h1 {
    font-size: 30px;
    text-align: center;
    padding-left: 100px;
    font-family: "Volkhov", serif;
}

.contents div h1 span {
    color:#FD8D3A
}

.contents div p {
    width: 260px;
    font-size: 12px;
    font-weight: 400;
    color: gray;
    position: relative;
    left: 30%;
    padding-left: 20px;
}

.contents div img {
    width: 140px;
    height: 90px;
    padding-left: 20px;
}

.content {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container1 {
    background-color: white;
    padding: 20px;
    width: 280px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    text-align: start;
    margin-right: 50px;
}

.container1 img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}
.container1 h4 {
    font-size: 24px;
    font-family: "Volkhov", serif;
}

.container1 p {
    font-size: 10px;
    font-family: "Volkhov", serif;
    padding-top: 10px;
    color: gray;
}

/* main1 section cards */

.main1 {
    width: 100%;
    height: auto;
    background-color: #FEFCFB;
    text-align: center;
    padding: 50px;
}

.card-content h1{
   font-size: 30px;
    font-family: "Volkhov", serif;

}
.card-content h1 span {
    color: #FD8D3A
}

.card-content p {
    width: 300px;
    position: relative;
    left: 40%;
    font-size: 12px;
    font-weight: 500;
    color: gray;
    text-align: center;
    padding: 10px;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards {
    position: relative;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 30px;
}

.cards img {
    width: 100%;
    height: auto;
}

.cards a {
    position: absolute;
    background-color: #FD8D3A;
    display: none;
    text-decoration: none;
    top: 50%;
    left: 28%;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
}

.cards:hover {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.cards img:hover + a {
    display: inline;
}

.rating {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.rating h4 {
    font-weight: 600px;
}

.rating span {
    font-size: 14px;
    color: gray;
}

.rating span i {
    color: gold;
}

.location {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.location span {
    font-size: 12px;
    font-weight: 600;
    
}